## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# REAL ESTATE ANALYSIS

## Business Understanding  
The real estate industry in King County, Washington, is a key driver of the region's economic growth, fueled by factors like location desirability and diverse housing options. Strong demand is supported by a thriving economy, major tech companies, and attractive amenities in this picturesque area  
As much as the real estate market in King County is booming, there are no  clear and actionable insights on the specific factors that drive the the property prices in the local housing market. Scarcity of such vital information hampers the ability of real estate investors to navigate the market and make informed decisions.   
To address this critical gap, there need for data driven solutions that unravel the intricacies of the King County housing market providing investors with the information they need to improve their knowledge in the local housing market. This will provide knowledge to investors on the interplay of factors affecting property prices and be able to predict the expected price of homes and  boost their confidence to make sound real investment  and property decisions.

## Problem Statement
The challenge is to establish a robust data analysis framework that addresses the complexities including data preparation, exploratory data analysis and regression modeling. Our aim is to offer or provide homeowners and real estate professionals with dependable insights for navigating the ever-changing King County real estate market with confidence.

## Objectives 

* Determine the main features that affect the value of a home.  
* Quantify the effect of the above features on the value of a home.   
* Develop a model to predict the home value.  
* To see if there is a difference in houses renovated and those that were not renovated
* To investigate if there is a difference in houses with a waterfront and those without

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import statsmodels.api as sm

In [3]:
df_house = pd.read_csv('./data/kc_house_data.csv')
df_house

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,...,8 Good,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [4]:
df_house.shape

(21597, 21)

In [5]:
df_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

The data has missing values in the waterfront, view and yr_renovated columns, the sqft_basement column is an object, all these need to be dealt with

## Data Cleaning

### Missing Values

In [7]:
#We will start with the 'waterfront' column
df_house['waterfront'].value_counts()

NO     19075
YES      146
Name: waterfront, dtype: int64

In [6]:
# We will start by looking at the percentage of missing values 
# We will start with the waterfront column
(df_house['waterfront'].isna().sum()/len(df_house['waterfront']))*100

11.00152798999861

In [9]:
# 11% of the data is missing
# We will fill according to zipcode
df_house['waterfront'] = df_house.groupby('zipcode')['waterfront'].transform(lambda x: x.fillna(x.mode().iloc[0]))

In [10]:
df_house['waterfront'].isna().sum()

0

In [11]:
df_house['waterfront'].value_counts()

NO     21451
YES      146
Name: waterfront, dtype: int64

In [12]:
# We will now move to the view column
df_house['view'].value_counts()

NONE         19422
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
Name: view, dtype: int64

In [15]:
(df_house['view'].isna().sum()/len(df_house['view']))*100

0.29170718155299347

In [16]:
# 3% of the data is missing and this can be dropped
df_house.dropna(subset=['view'], inplace=True)
df_house['view'].isna().sum()

0

In [17]:
# Our rows have also reduced
df_house.shape

(21534, 21)

In [18]:
# We will now move on to the yr_renovated column
df_house['yr_renovated'].value_counts()

0.0       16961
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

In [19]:
#Looks like ost of the houses were not renovated let us see the percentage of missing values
(df_house['yr_renovated'].isna().sum()/len(df_house['yr_renovated']))*100

17.785827064177578

In [20]:
# 17% of missing values
#these cannot be dropped but it will be safe to assume that the ones without year were not renovated as well
df_house['yr_renovated'].fillna(0.0, inplace=True)
df_house['yr_renovated'].isna().sum()

0

In [21]:
df_house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21534 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21534 non-null  int64
 1   date           21534 non-null  object
 2   price          21534 non-null  float64
 3   bedrooms       21534 non-null  int64
 4   bathrooms      21534 non-null  float64
 5   sqft_living    21534 non-null  int64
 6   sqft_lot       21534 non-null  int64
 7   floors         21534 non-null  float64
 8   waterfront     21534 non-null  object
 9   view           21534 non-null  object
 10  condition      21534 non-null  object
 11  grade          21534 non-null  object
 12  sqft_above     21534 non-null  int64
 13  sqft_basement  21534 non-null  object
 14  yr_built       21534 non-null  int64
 15  yr_renovated   21534 non-null  float64
 16  zipcode        21534 non-null  int64
 17  lat            21534 non-null  float64
 18  long           21534 non-null  float64
 19  sqft_living15  21534 non-null  int64
 20  sqft_lot15     21534 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.6+ MB

We have successfully handled the missing values now to move n to the data types

In [22]:
#We will start with the sqft_basement column
df_house['sqft_basement'].value_counts()

0.0       12798
?           452
600.0       216
500.0       209
700.0       207
          ...
2310.0        1
2120.0        1
556.0         1
243.0         1
1248.0        1
Name: sqft_basement, Length: 302, dtype: int64

In [24]:
# The ? does not belong there, some houses have 0.0 as the sqft_basement meaning that they might not have a basement
# We will replace ? with 0
df_house['sqft_basement'] = df_house['sqft_basement'].replace('?', '0.0')
df_house['sqft_basement'] = pd.to_numeric(df_house['sqft_basement'])

In [25]:
df_house['sqft_basement'].value_counts()

0.0       13250
600.0       216
500.0       209
700.0       207
800.0       201
          ...
588.0         1
1920.0        1
602.0         1
1245.0        1
1135.0        1
Name: sqft_basement, Length: 301, dtype: int64

In [27]:
df_house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21534 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21534 non-null  int64
 1   date           21534 non-null  object
 2   price          21534 non-null  float64
 3   bedrooms       21534 non-null  int64
 4   bathrooms      21534 non-null  float64
 5   sqft_living    21534 non-null  int64
 6   sqft_lot       21534 non-null  int64
 7   floors         21534 non-null  float64
 8   waterfront     21534 non-null  object
 9   view           21534 non-null  object
 10  condition      21534 non-null  object
 11  grade          21534 non-null  object
 12  sqft_above     21534 non-null  int64
 13  sqft_basement  21534 non-null  float64
 14  yr_built       21534 non-null  int64
 15  yr_renovated   21534 non-null  float64
 16  zipcode        21534 non-null  int64
 17  lat            21534 non-null  float64
 18  long           21534 non-null  float64
 19  sqft_living15  21534 non-null  int64
 20  sqft_lot15     21534 non-null  int64
dtypes: float64(7), int64(9), object(5)
memory usage: 3.6+ MB

In [29]:
# We can also change the date column into datetime
df_house["date"] = pd.to_datetime(df_house["date"])
print(df_house["date"].dtype)

datetime64[ns]

In [30]:
df_house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21534 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21534 non-null  int64
 1   date           21534 non-null  datetime64[ns]
 2   price          21534 non-null  float64
 3   bedrooms       21534 non-null  int64
 4   bathrooms      21534 non-null  float64
 5   sqft_living    21534 non-null  int64
 6   sqft_lot       21534 non-null  int64
 7   floors         21534 non-null  float64
 8   waterfront     21534 non-null  object
 9   view           21534 non-null  object
 10  condition      21534 non-null  object
 11  grade          21534 non-null  object
 12  sqft_above     21534 non-null  int64
 13  sqft_basement  21534 non-null  float64
 14  yr_built       21534 non-null  int64
 15  yr_renovated   21534 non-null  float64
 16  zipcode        21534 non-null  int64
 17  lat            21534 non-null  float64
 18  long           21534 non-null  float64
 19  sqft_living15  21534 non-null  int64
 20  sqft_lot15     21534 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(9), object(4)
memory usage: 3.6+ MB

In [33]:
# Now we look for duplicates
duplicates = df_house.duplicated()
print(df_house[duplicates])

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [34]:
# None of the entries are duplicated, let us check if anyone bought or sold houses multiple times
duplicatesid = df_house.duplicated(subset=['id'])
num_duplicates = duplicatesid.sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 177

In [ ]:
# 177 bought/sold houses multiple times